<Header>
  <nav>
    <h1>LazyCode</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blogs/new">NewPost</a></li>
      <li><a href="/blogs/all">Blogs</a></li>
    </ul>
  </nav>
</Header>
