<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Create New Post</title>
  </head>
  <body>
    <%- include("../navebar") %>
    <div class="blogcontainer">
      <h3>Create New Post</h3>
      <form action="/blogs" method="POST">
        <div class="blogcontainer"><%- include("_form") %></div>
      </form>
    </div>
  </body>
</html>
